

<h1>Members</h1>
{{ array.index.slides.1.title }}
<br>
<h1>pruebas</h1>
<div class="carousel-inner" role="listbox">
    {% for slide  in array.index.slides %}
        <div class="item">
            <div class="single-slide">
                <div class="slide-bg slide-"></div>

                <div class="slide-text-wrapper">
                    <div class="slide-text">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-6">
                                    <div class="slide-content">
                                        <h2> {{ slide.title }} </h2>
                                        <p>{{ slide.content }}</p>
                                        <a href="{{ slide.link }}" class="readmore">Ver mas</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>