{% extends "base.html.twig" %}

{% block pageTitle %}Reportes{% endblock %}

{% block breadcrumb %}
    <li><a href="index.php?link=adminReport"><i class="fa fa-area-chart"></i> Reportes</a></li>
{% endblock %}


{% block main %}



{% endblock %}