.tech {
    max-width: 20% !important;
}

.th-2 {
    width: 50% !important;
}

.th-3 {
    width: 33% !important;
}

.th-4 {
    width: 25% !important;
}

.th-5 {
    width: 20% !important;
}

.border-form {
    border: solid 1px #f5f5f5;
    padding: 40px 10px;
    margin: 0 10px;
    border-radius: 10px;
    max-height: none !important;
}

.width-100 {
    width: 100%;
}

.float-right {
    float: right !important;
}

input[disabled]:hover, select[disabled]:hover, textarea[disabled]:hover {
    cursor: default;
}

label {
    text-align: left !important;
}

.no-display {
    display: none !important;
}

.margin-button {
    margin-bottom: 10px;
    padding-right: 0;
}

.input-margin {
    margin: 15px;
}

/*
.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

/ Fixes for IE < 8 /
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}

*/