#map-container {
    height: 900px;
    z-index: 1;
    display: block;
    float: left;
    margin-top: -100px;
    width: 100%;
    background: white;
    transform: skew(0deg, 3deg);
    -ms-transform: skew(0deg, 3deg); /* IE 9 */
    -webkit-transform: skew(0deg, 3deg); /* Safari and Chrome */
}

.map {
    margin-top: 200px;
}

.product-widget-area {
    padding-bottom: 0;
}

@media (min-width: 768px) {
    .logo-empresa {
        width: 100%;
        max-width: 120px;
        min-width: 120px;
        height: 120px;
        margin: 20px auto;
    }
}

@media (max-width: 767px) {
    .logo-empresa {
        display: block;
        width: 100%;
        max-width: 150px;
        min-width: 120px;
        height: 120px;
        margin: 40px auto 0;
    }
}

.no-margin {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}

.text-button {
    margin: 0 !important;
    padding: 0 !important;
    background-color: white !important;
    color: black !important;
    text-decoration: underline;
    border: none !important;
}

.text:hover {
    font-size: 1.5em;

}

.text-button:focus {
    outline: none !important;
}

.tech {
    max-width: 30% !important;
}

@media (max-width: 767px) {
    .slide-text-wrapper {
        height: 500px;
    }
}

.brand-img {
    width: 300px !important;
    height: 150px !important;
}

#login-dp {
    min-width: 250px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
}

#login-dp .form-group {
    margin-bottom: 10px;
}

#login-dp .help-block {
    font-size: 12px
}

.block {
    display: block !important;
}

@media (max-width: 768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
}

#login-dp .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
    margin: 0;
}

.login-padding{
    padding: 15px 30px;
}